<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="true"
        colors="true"
        stopOnFailure="false"

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
            </exclude>
        </whitelist>
    </filter>

    <testsuite name="Pomfe Test Suite">
        <directory suffix=".php">./tests</directory>
    </testsuite>

</phpunit>